<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <table>
    <tr>
      <td><span><%= link_to restaurant.name, restaurant_path(restaurant) %></span></td>
    </tr>
  </table>
<% end %>

